---
layout : layouts/base.njk
---

	<!-- Intro -->
	<section class="intro">
		<header>
			<h1>
				<a href="{{ data.product }}">{{ data.app_title }}</a>
			</h1>
			<p>
				{{ data.app_subtitle }}
			</p>
			<ul class="actions">
				<li><a href="#first" class="arrow scrolly"><span class="label">Mai Mult</span></a></li>
			</ul>
		</header>
		<div class="content">
			<span class="image fill" data-position="center"><img src="images/pic01.jpg" alt="" /></span>
		</div>
	</section>

	<!-- Section -->
	<section id="first">
		<header>
			<h2>
				Despre noi
			</h2>
		</header>
		<div class="content">
			<p>
				<strong>Vila Giulia</strong> este un loc in care va veti simti cu siguranta ca si acasa! Vila este situata la 5 km de partiile de la Vartop si la 3 km de centrul orasului Arieseni. 
				Pensiunea se afla intr-un loc pitoresc, iar aerul proaspat si murmurul cristalin al raului din fata vilei completeaza peisajul montan!
			</p>
			
			<span class="image main"><img src="images/pic02.jpg" alt="" /></span>
		</div>
	</section>

				<!-- Section -->
				<section>
					<header>
						<h2>
							Va asteptam cu drag							
						</h2>
					</header>
					<div class="content">
						<p>
							Poziţionată la 1000 m altitudine, Vila Giulia vine în întâmpinarea turiştilor cu 27 camere dotate cu televizor, baie proprie si balcon.
							La parterul vilei, puteţi servi masa într-un cadru intim, la căldura şemineului, într-un loc special amenajat cu o bucătărie şi sală de mese.
						</p>
						<ul class="feature-icons">
							<li class="icon solid fa-envelope"> <a href="mailto:{{ data.email }}">{{ data.email }}</a></li>
							<li class="icon solid fa-phone"><a href="tel:{{ data.phone }}">{{ data.phone }}</a></li>
							<li class="icon solid fa-gift">Parcare Gratuita</li>
							<li class="icon solid fa-signal">WiFi Gratuit</li> 
						</ul>
					</div>
				</section>

				<!-- Section -->
				<section>
					<header>
						<h2>
							Servicii
						</h2>
					</header>
					<div class="content">

						<p>
							<strong>Cazare</strong> - Vila Giulia dispune de 44 de locuri de cazare si camere a cate 2, 3 respectiv 4 locuri. Camerele sunt dotate cu baie (proprie), televizor si balcon.
							<br />
							Restaurant &bull; Piscina &bull; Teambuilding &bull; Loc de joaca pentru copii &bull; Centru spa/wellness
						</p>

						<!-- Section -->
						<section>
							<header>
								<p>
									Vila este situata la 5 km de partiile de la Vartop si la 3 km de centrul orasului Arieseni.
								</p>
							</header>
							<div class="content">
								<div class="gallery">
									<a href="images/gallery/fulls/01.jpg" class="landscape"><img src="images/gallery/thumbs/01.jpg" alt="" /></a>
									<a href="images/gallery/fulls/02.jpg"><img src="images/gallery/thumbs/02.jpg" alt="" /></a>
									<a href="images/gallery/fulls/03.jpg"><img src="images/gallery/thumbs/03.jpg" alt="" /></a>
									<a href="images/gallery/fulls/04.jpg" class="landscape"><img src="images/gallery/thumbs/04.jpg" alt="" /></a>
								</div>
							</div>
						</section>

					</div>
				</section>
